.ProseMirror {
  background-color: var(--paper-color);
  box-shadow: 0 0px 8px -4px var(--border-color);
  padding: 16px 32px;
  margin: 32px 64px;
  border-radius: 8px;
  outline: none !important;
}
