/* Defaults ----------------------------------------------------------------- */
html {
  @apply bg-paper;
  font-size: 18px;
}

/* Spacing */
p,
h1,
h2,
h3,
ul,
ol,
blockquote {
  @apply mt-before mb-after;
}

pre {
  padding-top: 1em;
  padding-bottom: 0.68em;
}

li p,
ul ul,
ul ol {
  margin: 0;
}

/* Styling */
h1 {
  @apply text-h1 font-bold;
}

h2 {
  @apply text-h2 font-bold;
}

h3 {
  @apply text-h3 font-bold;
}

strong,
b {
  @apply font-semibold;
}

ul li {
  position: relative;
  list-style: disc;
  list-style-position: inside;
}

ol li {
  position: relative;
  list-style: decimal;
  list-style-position: inside;
}

a {
  @apply text-blue hover:underline cursor-pointer;
}

blockquote {
  @apply border-l border-type;
  @apply pl-3;
}

pre {
  @apply bg-type  text-paper rounded-1;
}
