/* Root */
html {
  font-size: 1.125em;
  font-family: "IBM PLex Mono", "mono";
}

nav {
  @apply flex pb-3;
  overflow-x: auto;
  overflow-y: visible;
}
nav button {
  @apply border border-type bg-paper;
  margin-left: -1px;
  position: relative;
  box-shadow: none !important;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
}
nav button:not(.active):hover {
  top: 8px;
}

/* Layout */
h1 {
  @apply mx-8;
}

main {
  @apply mx-8 flex gap-6 flex-wrap;
}

article {
  @apply flex-grow;
  flex-basis: 60ch;
}

aside {
  @apply flex-grow;
  flex-basis: 36ch;
}

@media (max-width: 720px) {
  h1 {
    @apply mx-3;
  }

  main {
    @apply mx-3;
  }

  .experiment {
  }

  .notes {
  }
}

/* Buttons */
button,
input,
select,
.clickable,
*[contenteditable="true"] {
  transition: outline-width 80ms ease-out, outline-offset 80ms ease-out;
}

button,
input,
select,
.clickable {
  @apply py-1 px-2;
  outline: solid 1px #262626;
}

button:hover,
input:hover,
select:hover,
.clickable:hover {
  @apply shadow-lab;
}

button:active,
select:active,
.clickable:active {
  @apply shadow-lab-inset;
}

input,
*[contenteditable="true"] {
  outline: 1px solid #262626;
  outline-offset: 0px;
}

input,
*[contenteditable="true"]:hover {
  outline: 1px solid #262626;
  outline-offset: 2px;
}

input,
*[contenteditable="true"]:focus {
  outline: 2px solid #262626;
  outline-offset: 2px;
}
