/* Root */
html {
  font-size: 1.125em;
  font-family: "IBM PLex Mono", "mono";
}

nav {
  @apply flex pb-3;
  flex-shrink: 0;
  overflow-x: auto;
  overflow-y: visible;
}
nav button {
  @apply border border-type bg-paper;
  margin-left: -1px;
  position: relative;
  box-shadow: none !important;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
  top: 0px;
  transition: top 80ms ease-out;
}

nav button:not(.active):hover {
  top: 8px;
}

/* Layout */
#lab {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
}

#lab > h1 {
  @apply mx-8;
}

main {
  @apply flex gap-6 flex-grow items-stretch;
  overflow: hidden;
}

article {
  @apply flex-grow pl-8 pr-4;
  flex-basis: 60ch;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
}

aside {
  @apply flex-grow pl-4 pr-8;
  flex-basis: 36ch;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
}

@media (max-width: 1080px) {
  #lab {
    overflow: auto;
    height: auto;
  }

  #lab > h1 {
    @apply mx-4;
  }

  main {
    @apply flex-wrap;
  }

  article {
    @apply px-4;
    max-height: none;
  }

  aside {
    @apply px-4;
    max-height: none;
  }
}

.operations-list {
  list-style: none;
}

.operations-list li {
  @apply flex gap-3 flex-wrap;
}

.operations-list li > * {
  @apply flex-1;
}
.operations-list li > *.flex-none {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

/* Buttons */
button,
input,
select,
option,
.clickable,
*[contenteditable="true"] {
  @apply bg-paper;
  transition: outline-width 80ms ease-out, outline-offset 80ms ease-out;
}

button,
input,
select,
.clickable {
  @apply py-1 px-2;
  outline: solid 1px #262626;
}

button:hover,
input:hover,
select:hover,
.clickable:hover {
  @apply shadow-lab;
}

button:active,
select:active,
.clickable:active {
  @apply shadow-lab-inset;
}

input,
*[contenteditable="true"] {
  outline: 1px solid #262626;
  outline-offset: 0px;
}

input,
*[contenteditable="true"]:hover {
  outline: 1px solid #262626;
  outline-offset: 2px;
}

input,
*[contenteditable="true"]:focus {
  outline: 2px solid #262626;
  outline-offset: 2px;
}
