@tailwind base;
@tailwind components;
@tailwind utilities;

/* Core Fonts --------------------------------------------------------------- */
/* Montserrat; a sans-serif used for normal text*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
/* IBM Plex Mono; the lab font */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap");

/* Editor Fonts */
/* Montserrat Alternate; a more stylized sans-serif used for names, headings, etc */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;500;700;900&display=swap");
/* Noto Serif; the editor serif */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Jetbrains Mono, the editor mono */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap");
/* Dancing Script; the editor script */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

/* Toggle */

/* Scrollbars */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
*::-webkit-scrollbar-track {
  @apply bg-paper;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  @apply bg-type rounded-1;
}

/* Utilities ---------------------------------------------------------------- */
.ellipsis {
  @apply whitespace-nowrap overflow-hidden overflow-ellipsis;
}
